<table class="table">
  <thead>
    <tr>
      <th>User</th>
      <% @group_ids.each do |group_id| %>
        <th>Group <%= group_id %></th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <% @group_ids.each do |group_id| %>
          <td>
            <%= check_box_tag "group_permission", "1", user.can_see_group?(group_id), 
                data: { 
                  action: "change->group-permissions#togglePermission",
                  userId: user.id,
                  groupId: group_id
                } 
            %>
          </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
