<div id="<%= dom_id challenge %>">
  <p>
    <strong>No:</strong>
    <%= challenge.number %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= challenge.description %>
  </p>

  <p>
    <strong>Points:</strong>
    <%= challenge.points %>
  </p>
  
</div>
