<%= simple_form_for :import, url: import_challenges_path, multipart: true do |f| %>
  <p class="mt-3">
    CSV file should have the following headers: Number, GroupID, Description, Points.<br>
    <strong>IMPORTANT:</strong> If a challenge with the same Number already exists, it will be overwritten.
  </p>

  <%= f.input :file, as: :file, accept: 'text/csv', label: 'Select CSV file' %>

  <%= f.submit 'Import', class: 'btn btn-primary' %>
  <%= link_to 'Back', challenges_path, class: 'btn btn-secondary' %>
<% end %>
