<%= render @challenge %>

<%# TODO: This should be on one line, and look nice. %>
<div>
  <% if can? :update, @challenge %>
    <%= link_to "Edit this challenge", edit_challenge_path(@challenge), class: "btn btn-warning" %>
  <% end %>

  <% if can? :destroy, @challenge %>
    <%= button_to "Destroy this challenge", @challenge, method: :delete, class: "btn btn-danger" %>
  <% end %>

  <%= link_to "Back to challenges", challenges_path, class: "btn btn-secondary" %>
  <br><br>
</div>
