* {margin: 0; padding: 0;}

body {
    background: #56ab2f;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #a8e063, #56ab2f);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #a8e063, #56ab2f); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
   }

.form-container {
    height: 100vh; /* Full viewport height */
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }

  .form-box {
    width: 100%;
    max-width: 400px;
    padding: 20px;
    background-color: #fff3cd; /* Light grey background */
    transform: translateY(10%);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Subtle shadow */
  }